ipywidgets==7.7.1
matplotlib==3.7.0
numpy
pandas==1.5.3
tqdm==4.66.3
python-dotenv==1.0.0
openai>=0.28.0
tiktoken
jupyter

#azure
azure-ai-textanalytics
azure-ai-contentsafety
azure-cognitiveservices-speech
azure-ai-documentintelligence
langchain
langchain-community
azure-storage-blob
azure-search-documents==11.6.0b1
azure-cosmos
azure-identity
openai
datasets